<header id='header-fixed' class='fixed top-0 z-20 w-full h-20 bg-red-600 shadow-sm'>
  <div class='flex items-center justify-center w-full h-full px-4 mx-auto max-w-7xl'>
    <h1 class='text-sm font-light leading-tight text-center sm:text-base text-zinc-100'>
      <span class='font-bold text-zinc-200'>Últimas vagas </span> para o mês de junho
    </h1>
  </div>
</header>
